certifi==2019.6.16
chardet==3.0.4
Click==7.0
Flask==1.1.1
html2text==2018.1.9
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
oauthlib==3.0.2
pkg-resources==0.0.0
praw==6.3.1
prawcore==1.0.1
PySocks==1.7.0
requests==2.22.0
requests-oauthlib==1.2.0
six==1.12.0
StackAPI==0.1.12
tweepy==3.8.0
update-checker==0.16
urllib3==1.25.3
websocket-client==0.56.0
Werkzeug==0.15.4
